<template>
  <div id="home-page-container">
    <!-- <transition-group name="animate"> -->
      <div id="main-filter-container" class="container" key="filter">
        <FilterComp :class="{'fixed-top': isFilterFixed}"></FilterComp>
      </div> 
    
      <div id="main-table-container" class="container" key="table">
        <Table :data="tableData"></Table>

        <div id="main-table-pagin">
          <div :class="{ 'fixed-bottom': isPaginationFixed }">
            <el-pagination 
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-sizes.sync="currentPageSizes"
              :page-size.sync="currentPageSize"
              layout="total, sizes, prev, pager, next, jumper"
              :total="mainTable.length">
            </el-pagination>  
          </div>

        </div>

      </div>
    <!-- </transition-group> -->
  </div>
</template>

<script>
import Table from "@/components/table";
import FilterComp from "@/components/filter";
import { mainTableResponse } from "@/common/response.temp";
import { mapGetters } from "vuex";

export default {
  name: "homeView",
  components: {
    Table,
    FilterComp
  },
  data() {
    return {
      fields: mainTableResponse,
      isFilterFixed: false,
      isPaginationFixed: false,
      page: "",
      head: "",
      currentPage: 1,
      currentPageSize: 20,
      currentPageSizes: [10, 20, 30, 50]
    };
  },
  mounted() {
    this.$nextTick(() => {
      let el = document.getElementById("home-page-container");
      this.page = el;
      el = document.getElementById("header-container");
      this.head = el;

      this.scrollHandler();
    });
  },
  computed: {
    tableData() {
      return this.mainTable.slice(
        (this.currentPage - 1) * this.currentPageSize,
        this.currentPage * this.currentPageSize
      );
    },
    ...mapGetters(["mainTable", "filter", "showEditForm"])
  },
  methods: {
    getData() {
      this.$store.dispatch("getMainTableData", {
        page: {
          index: this.currentPage,
          strPerPage: this.currentPageSize
        },
        sort: {
          fieldName: "",
          dir: "ASC/DESC"
        },
        mask: this.filter
      });
    },
    handleSizeChange(val) {
      //console.log(`${val} items per page`);
    },
    handleCurrentChange(val) {
      //console.log(`current page: ${val}`);
    },
    resizeHandler() {
      /*       console.log(window.innerHeight, this.head.clientHeight);
      let size = (window.innerHeight - this.head.clientHeight + 20) + 'px';
      this.page.style = size;
      console.log(size, this.page.style.height);
       */
    },
    scrollHandler() {
      this.$nextTick(() => {
        let elem = document.getElementById("main-filter-container");
        let box = elem.getBoundingClientRect();
        this.isFilterFixed = box.y < 0;

        let elem2 = document.getElementById("main-table-pagin");
        let box2 = elem2.getBoundingClientRect();

        //console.log(window.innerHeight, box2.y);

        //this.isPaginationFixed = box2.y >= window.innerHeight;
      });
    }
  },
  watch: {
    currentPage(val) {
      this.getData();
    },
    currentPageSize(val) {
      this.scrollHandler();
    },
    filter(val) {
      this.getData();
    }
  },
  created() {
    window.addEventListener("scroll", this.scrollHandler);
    //window.addEventListener("resize", this.resizeHandler);
  },
  destroyed() {
    window.removeEventListener("scroll", this.scrollHandler);
    //window.removeEventListener("resize");
  }
};
</script>

<style>
#home-page-container {
  font-size: 16px;
  position: relative;
  margin: auto;
  width: 96%;
}
.container {
  margin: auto;
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  box-shadow: 0 0 8px #757575;
  padding: 10px;
}
.container + .container {
  margin-top: 10px !important;
}
#main-table-pagin {
  background-color: inherit;
}
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: inherit;
  padding: inherit;
  box-shadow: inherit;
  width: 100%;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: inherit;
  padding: inherit;
  box-shadow: 0 0 8px #757575;
}

.animate-enter-active {
  transition: all 1s;
}
.animate-leave-active {
  transition: all 1s;
  position: absolute !important;
}
.animate-enter {
  opacity: 0;
  transform: scaleY(0.01);
  /* transform-origin: 0% 0%; */
}
.animate-enter-to {
  /*   transform: scaleY(1);
  transform-origin: 100% 0%; */
}
.animate-leave {
  /*   transform: scaleY(1);
  transform-origin: 100% 0%; */
}
.animate-leave-to {
  opacity: 0;
  transform: scaleY(0.01);
  /* transform-origin:  0% 0%; */
}
.animate-move {
  transition: all 1s;
}
</style>

