<template>
  <div id="home-page-container">
    <div class="container" key="filter">
        <TableEditor />
    </div> 
  </div>
</template>

<script>
import TableEditor from "@/components/tableEditor";

export default {
    components: {
        TableEditor,
    },
    data() {
        return {}
    }
}
</script>
<style>

</style>
