<template>
  <div id="edit-form-container" :class="{'open': showEditForm}">
    <div id="edit-form-div">
      <div class="edit-form-el" v-for="(el,i) in fields" :key="i">
<!-- _________________поля_____________________ -->      
        <div class="edit-form-name">
          {{getFieldName(el)}}
        </div>
        <div class="edit-form-value" style="width: 100%;">
<!-- ________________ввод текста_____________________ -->
          <div v-if="getInputType(el) == 'input'">
            <div v-if="isNumber(el)" style="display: flex;">
              <!-- ___________формирование номера документа_______________ -->
              <el-autocomplete v-if='isShowPrefix' v-model="number.prefix" id="number-prefix"
                :fetch-suggestions="querySearch" popper-class='dropdown'>
              </el-autocomplete>

              <input type="text" class="filter-input" v-model="number.number" />

              <div v-if='isShowPrefix' id="solid-index-container">
                <el-select  v-model="number.solid" filterable >
                  <el-option
                    v-for="item in getSolidIndex"
                    :key="item"
                    :label="item"
                    :value="item">
                  </el-option>
                </el-select>  
              </div>
              <!-- ___________/формирование номера документа_______________ -->
            </div>
            <div v-else>
              <input type="text" class="filter-input" v-model="filter[el]" />
            </div>
          </div>
<!-- _________________дата_____________________ -->
          <div v-if="getInputType(el) == 'date'">
            <span v-if="selectedData == undefined">
              {{getData()}}
            </span>
            <span v-else>
              {{filter[el]}}
            </span>
          </div>
<!-- _________________выбор из таблицы_____________________ -->
          <div v-if="getInputType(el) == 'table'">
            <el-select v-model="filter[el]" filterable placeholder="Выбрать"
                empty="Пусто"
                no-data-text="Нет данных"
                no-match-text="Нет совпадений">
              <el-option
                v-for="item in getTableData(getSelectOptions(el))"
                :key="item.id"
                :label="item.value"
                :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!isOpenForCreate" id="close-edit-form-button">
      <el-button size="mini" type="danger" icon="el-icon-delete"  circle 
          @click="deleteNote()">
      </el-button>
    </div>
    <div id="edit-form-control">
      <el-button size="mini" type="primary"
          @click="applyButtonClicked()">{{getApplyButtonText}}
      </el-button>
      <el-button size="mini" type="danger" 
          @click="closeEditForm()">Отмена
      </el-button>  
<!--       <div class="b-apply" style="margin-top: unset;">

      </div> -->
    </div>    
  </div>
</template>

<script>
import {
  mainTableResponse,
  getNameByField,
  getTypeByField,
  getMainTableTemplate,
  getTableNameByField,
  getTableDataByName
} from "@/common/response.temp";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      fields: mainTableResponse,
      filter: getMainTableTemplate(),

      number: {
        prefix: "",
        number: "",
        solid: ""
      },
      prefixOptions: [
        { value: "ЭКЛ", str: "ЭКЛ" },
        { value: "не ЭКЛ", str: "" }
      ],
      value: ""
    };
  },
  computed: {
    isOpenForCreate() {
      if(this.showEditForm || true) return (this.selectedData == undefined);
    },
    isShowPrefix() {
      return this.filter[mainTableResponse.TYPE] == "КД";
    },
    getSolidIndex() {
      return [10, 20, 30, 40];
    },
    getApplyButtonText() {
      if (!this.isOpenForCreate) return "Применить";
      else return "Добавить";
    },
    ...mapGetters(["tables", "showEditForm", "selectedData"])
  },
  methods: {
    getTableData(name) {
      return getTableDataByName(this.tables, name);
    },
    querySearch(queryString, cb) {
      var data = this.prefixOptions;
      var results = queryString
        ? data.filter(this.createFilter(queryString))
        : data;

      //console.log(data, queryString, results);
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return obj => {
        return obj.label.toLowerCase().indexOf(queryString.toLowerCase()) == 0;
      };
    },
    isNumber(field) {
      return field == mainTableResponse.NUMBER;
    },
    getData() {
      let now = new Date();
      let curr_date = now.getDate();
      curr_date = curr_date < 10 ? ('0' + curr_date) : curr_date;
      let curr_month = now.getMonth();
      curr_month = curr_month < 10 ? ('0' + curr_month) : curr_month;
      let curr_year = now.getFullYear();

      let date = `${curr_date}-${curr_month}-${curr_year}`;
      this.filter[mainTableResponse.DATE] = date;

      return date;
    },
    getFieldName(field) {
      return getNameByField(field);
    },
    getInputType(field) {
      return getTypeByField(field);
    },
    getSelectOptions(field) {
      return getTableNameByField(field);
    },
    closeEditForm() {
      this.filter = getMainTableTemplate();
      this.$store.dispatch("closeEditForm");
    },
    applyButtonClicked() {
      if(this.isOpenForCreate) {
        this.$store.dispatch('addNoteToMainTable', this.filter);
      } else {
        this.$store.dispatch('updateNoteInMainTable', this.filter);
      }
      
      this.filter = getMainTableTemplate();
      this.$store.dispatch("closeEditForm");
    },
    deleteNote() {
      this.$store.dispatch('deleteNoteInMainTable', { 'id': this.selectedData.id } );
    }
  },
  watch: {
    selectedData: {
      handler: function(val) {
        if (val != undefined) {
          Object.assign(this.filter, val);
        }
      },
      deep: true
    },
    showEditForm(val) {
      if (val && !this.isOpenForCreate) {
        Object.assign(this.filter, this.selectedData);
      }
    },
    filter: {
      handler: function(val) {
        //console.log(val, val[mainTableResponse.NUMBER].split('-'));
        let arr = val[mainTableResponse.NUMBER].split("-");
        if (arr.length == 3) {
          this.number.prefix = arr[0];
          this.number.number = arr[1];
          this.number.solid = arr[2];
        } else if (arr.length == 2) {
          this.number.prefix = this.prefixOptions[1].value;
          this.number.number = arr[0];
          this.number.solid = arr[1];
        } else if (arr.length == 1) {
          this.number.number = arr[0];
        }
      },
      deep: true
    },
    number: {
      handler: function(val) {
        if (!val.number || !val.prefix || !val.solid) {
          return;
        }

        let prefix = this.prefixOptions.find(el => {
          return val.prefix == el.value;
        });
        let str = prefix ? `${prefix.str}-` : `${prefix}-`;
        str += `${val.number}-`;
        str += `${val.solid}`;

        this.filter[mainTableResponse.NUMBER] = str;
      },
      deep: true
    }
  }
};
</script>

<style>
#edit-form-container {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: white;
  border-bottom: 1px solid rgb(199, 199, 199);
  box-shadow: 0 0 8px #757575;
  padding: 10px 0;
  font-size: 15px;
  transition: all 0.4s;
  transform: translateY(-100%);
  z-index: 12;
}
#edit-form-container.open {
  transform: translateY(0);
}
#edit-form-div {
  position: relative;
  width: 70%;
  margin: auto;
}

.edit-form-el {
  display: flex;
  /*   border: 2px solid rgba(64, 158, 255, 1);
  border-radius: 5px; */
  border-bottom: 1px solid rgba(64, 158, 255, 1);
  padding: 2px 8px 2px 8px;
  margin-top: 4px;
}
.edit-form-name {
  width: 350px;
  text-align: left;
}
.edit-form-value {
  position: relative;
  /*  border-left: 1px solid rgba(64, 158, 255, 0.8); */
  margin-left: 4px;
  padding-left: 4px;
}
#close-edit-form-button {
  position: absolute;
  top: 10px;
  right: 25px;
  height: 28px;
  width: 28px;
  color: white;
  background-color: rgb(245, 108, 108);
  border-radius: 14px;
  transform: translateX(-100%);
  cursor: pointer;
  transition: all 0.3s;
}
#close-edit-form-button:hover {
  box-shadow: 0 0 6px 0px #6d6d6db7;
}
#edit-form-control {
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: fit-content;
  font-size: 14px;
  display: flex;
}
#number-prefix {
  display: flex;
  width: 120px;
}
.dropdown {
  width: 100px !important;
}
#solid-index-container {
  width: 120px;
}
</style>
