<template>
  <div>
    <div id="filter-header">
      <div id="filter-header-text">
        Фильтр
      </div>
      <div class="filter-header-button" @click="buttonShowClicked()">
        {{isShow ? 'Скрыть':'Развернуть'}}
      </div>
    </div>

    <div class="hide-container">
      <div id="filter-container"  :class="{'show': isShow}">
        <div id="filter-div">
          <div class="filter-el" v-for="(el,i) in fields" :key="i">
            <div class="filter-name">
              {{getFieldName(el)}}
            </div>
            <div class="filter-value" :style="getFieldStyle(el)">
              <!-- ________________ввод текста_____________________ -->
              <div v-if="getInputType(el) == 'input'">
                <input type="text" class="filter-input" v-model="filter[el]" />
              </div>
              <!-- _________________фильтрация по дате_____________________ -->
              <div v-if="getInputType(el) == 'date'" class="filter-date"><!--  -->
                <el-select v-model="dateSelector" class="date-selector" >
                  <el-option
                    v-for="item in dateOption"
                    :key="item"
                    :label="item"
                    :value="item">
                  </el-option>
                </el-select>
                <el-date-picker
                  v-model="date"
                  @change="setDate($event, el)"
                  type="date"
                  prefix-icon="display: none;"
                  placeholder="Дата"
                  format="dd-MM-yyyy">
                </el-date-picker>
              </div>
              <!-- _________________выбор из таблицы_____________________ -->
              <div v-if="getInputType(el) == 'table'">
                <el-select v-model="filter[el]" filterable placeholder="Выбрать" 
                    empty="Пусто"
                    no-data-text="Нет данных"
                    no-match-text="Нет совпадений">
                  <el-option
                    v-for="item in getTableData(getSelectOptions(el))"
                    :key="item.id"
                    :label="item.value"
                    :value="item.value">
                  </el-option>
                </el-select>
              </div>
            </div>
            <div class="filter-clear-button" @click="filter[el]=''">
              x
            </div>
          </div>
        </div> 
        <div id="filter-control">
          <div id="switch-auto-apply">
            <el-switch 
            v-model="isAutoApply"
            style="display: block"
            active-color="#13ce66"
            inactive-color="#ff4949">
            </el-switch>
            Применять автоматически
          </div>
          <div class="button b-clear" @click="clearFilter()">
            Очистить всё
          </div>
          <div class="button b-apply" @click="applyFilter()">
            Применить
          </div>
        </div>    
      </div> 
    </div> 
  </div> 
</template>

<script>
import {
  mainTableResponse,
  getNameByField,
  getTypeByField,
  getMainTableTemplate,
  getTableNameByField,
  getFilterStyleByField,
  getTableDataByName,
} from "@/common/response.temp";
import { mapGetters } from "vuex";
import { isNull } from 'util';

export default {
  data() {
    return {
      fields: mainTableResponse,
      filter: getMainTableTemplate(),

      date: "",
      dateSelector: "<",
      dateOption: ["<", ">", "="],

      isShow: false,
      isAutoApply: true
    };
  },
  computed: {
    ...mapGetters(["tables"])
  },
  methods: {
    getTableData(name) {
      return getTableDataByName(this.tables, name);
    },
    buttonShowClicked() {
      this.isShow = !this.isShow;
      if(this.isShow) this.$store.dispatch('openFilter');
      else this.$store.dispatch('closeFilter');
    },
    setDate(value, el) {
      if (isNull(this.date)) {
        this.filter[el] = "";
        return;
      }
      let curr_date = this.date.getDate();
      let curr_month = this.date.getMonth() + 1;
      let curr_year = this.date.getFullYear();
      this.filter[el] = `${this.dateSelector}${curr_year}-${curr_month}-${curr_date}`;
    },
    getFieldName(field) {
      return getNameByField(field);
    },
    getFieldStyle(field) {
      return getFilterStyleByField(field);
    },
    getInputType(field) {
      return getTypeByField(field);
    },
    getSelectOptions(field) {
      return getTableNameByField(field);
    },
    applyFilter() {
      this.$store.commit("setFilter", this.filter);
    },
    clearFilter() {
      this.date = null;
      this.filter = getMainTableTemplate();
      this.applyFilter();
    }
  },
  watch: {
    filter: {
      handler: function(val) {
        if (this.isAutoApply) {
          this.applyFilter();
        }
      },
      deep: true
    },
    dateSelector(val) {
      //console.log(val);
      this.setDate("", mainTableResponse.DATE);
    },
  }
};
</script>

<style>
.hide-container {
  position: relative;
  overflow: hidden;
}
#filter-header {
  display: flex;
}
#filter-header-text {
  font-size: 24px;
}
.filter-header-button {
  font-size: 16px;
  cursor: pointer;
  margin: 0 20px;
  padding: 4px;
  align-self: center;
  width: 100%;
  background-color: #d8e8f9b6;
  border-radius: 6px;
  transition: all 0.4s;
}
.filter-header-button:hover {
  background-color: #c4dffd;
}

#filter-container {
  display: flex;
  font-size: 15px;
  max-height: 0;
  transition: all 0.6s;
}
#filter-container.show {
  max-height: 220px;
}
#filter-div {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}
.filter-el {
  display: flex;
  border: 2px solid rgba(64, 158, 255, 1);
  border-radius: 5px;
  padding: 2px 8px 2px 8px;
  margin-top: 4px;
  height: min-content;
}
.filter-el + .filter-el {
  margin-left: 8px;
}
.filter-value {
  position: relative;
  border-left: 1px solid rgba(64, 158, 255, 0.8);
  margin-left: 4px;
  padding-left: 4px;
}

.filter-input {
  border: 1px solid rgb(220, 223, 230);
  border-radius: 4px;
  padding: 2px 5px;
  width: 100%;
  box-sizing: border-box;
}

.el-input__inner {
  padding: 2px 20px 2px 4px !important;
  height: 20px !important;
  line-height: 20px !important;
}
.el-input__icon {
  line-height: unset !important;
}
.el-pagination .el-select .el-input {
    width: 120px !important;
}

.filter-clear-button {
  cursor: pointer;
  padding: 0px 3px;
  font-size: 16px;
  margin-left: 2px;
  border: 1px solid rgba(64, 158, 255, 0.8);
  border-radius: 5px;
  transition: all 0.3s;
}
.filter-clear-button:hover {
  background-color: rgba(64, 160, 255, 0.171);
}

#filter-control {
  margin-top: auto;
  font-size: 14px;
}
.b-clear {
  width: 100px;
  padding: 2px 4px;
  background-color: rgb(245, 108, 108) !important;
}
.b-apply {
  width: 100px;
  padding: 2px 4px;
  background-color: rgb(103, 194, 58) !important;
}
#switch-auto-apply {
  margin-bottom: 14px;
}
.el-date-editor {
  width: 100% !important;
}
.filter-date {
  display: flex;
}
.date-selector {
  width: 50px !important;
}
</style>
