<template>
    <div id="header-container">
      <img src="@/assets/logo1.png" alt="" class="logo" @click="goToHome()">
        <div v-if="isAuth" id="header-button-route" class="button" 
        @click="routeButtonClicked()">
            {{getRouteButtonName}}  
        </div>
        <div id="header-button-login" class="button mg-unset" @click="authButtonClicked()">
            {{isAuth ? 'Выйти' : 'Авторизоваться'}}   
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    //data: Object,
  },
  data() {
    return {};
  },
  computed: {
    getRouteButtonName() {
      if (this.$route.name == "tables") {
        return "Вернуться на главную";
      }

      return "Открыть редактор таблиц";
    },
    ...mapGetters(["isAuth"])
  },
  methods: {
    authButtonClicked() {
      if (this.isAuth) {
        this.$store.dispatch("logOut");
      } else {
        this.$store.dispatch("openLoginForm");
      }
    },
    routeButtonClicked() {
      if (this.$route.name == "tables") {
        this.$router.push({ name: "home" }).catch(() => {});
        return;
      }

      this.$router.push({ name: "tables" }).catch(() => {});
    },
    goToHome() {
      this.$router.push({ name: "home" }).catch(() => {});
    }
  },
  watch: {
    isAuth(val) {
      if(!val) {
        this.goToHome();
      }
    },
  }
};
</script>

<style>
#header-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  background-color: white;
  box-shadow: 0 0 8px #757575;
}
#header-button-login {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: fit-content;
  padding: 2px 8px;
}
#header-button-route {
  position: absolute;
  top: 50%;
  right: 120px;
  transform: translateY(-50%);
  width: fit-content;
  padding: 2px 8px;
}
.logo {
  cursor: pointer;
  position: relative;
  float: left;
  margin-left: 20px;
  height: 50px;
}
.mg-unset {
  margin-top: 0px !important;
}
</style>
