<template>
    <div id="login-container">
        <div id="login-div">
            <div class="login-text">
                Логин
            </div>
            <input type="text" v-model="login" class="login-input"/>
            <div class="login-text">
                Пароль
            </div>
            <input type="password" v-model="password" class="login-input"/>
            <div id="loginform-button-login" class="button" @click="logIn()">
            Авторизоваться   
            </div>
        </div>

    </div>
</template>
<script>
export default {
    data() {
        return{
            login: '',
            password: ''
        }
    },
    methods: {
        logIn() {
            this.$store.dispatch('login', { 'username': this.login, 'password': this.password });
        },
    }
};
</script>
<style>
#login-container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.73);
}
#login-div {
  width: fit-content;
  padding: 30px;
  padding-bottom: 10px;
  position: relative;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: aliceblue;
  border: 1px solid rgba(64, 158, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 7px rgb(27, 69, 110);
}
.login-text {
  font-size: 24px;
  margin-top: 2px;
  margin-bottom: 5px;
}
.login-input {
  border: 1px solid rgba(64, 158, 255, 0.8);
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 18px;
}
#loginform-button-login {
  margin: auto;
  margin-top: 15px;
  width: fit-content;
  padding: 2px 8px;
}
</style>
