<template>
  <div id="table-container" :class="{scroll: isScroll}">
    <div id="filter-header">
      <div id="filter-header-text">
        Данные
      </div>
      <div id="table-button-add" class="button" @click="addData()">
        + Добавить запись
      </div>
    </div>
    <div id="table" >
      <div id="table-header" class="table-row">
        <div class="row-el head-el" 
        :style="getColumnStyle(head)" 
        v-for="(head,i) in fields" :key="head+i">
          <div class="row-el-text">
            {{getHeadValue(head)}} 
          </div>
          <div class="table-filter-buttom" 
            :class="{applied: isFilterApplyed(head)}" 
            @click="applyFilter(head)" v-html="getSymbol(head)">
          </div>
        </div>
      </div>
      

      <div class="table-row data-row" 
      :class="{'selected': (selectedId === i) }" 
      v-for="(row,i) in tableData" :key="i"     
      @dblclick="openInEditForm(row,i)">
          <div class="row-el"  
          :style="getColumnStyle(field)"
          v-for="(field,j) in fields" :key="field+j">
              {{row[field]}}
          </div>
      </div>
    </div>  
  </div>    
</template>
<script>
import {
  mainTableResponse,
  getNameByField,
  getTableStyleByField,
  getDataTypeByField,
  getShowPropByField
} from "@/common/response.temp";
import { mapGetters } from "vuex";

export default {
  props: {
    data: Array
  },
  data() {
    return {
      tableData: [],
      fields: mainTableResponse,

      selectedId: undefined,

      appliedFiler: "",
      filterDir: 1,

      isScroll: false,
      container: "",
      header: ""
    };
  },
  mounted() {
    if (this.data) this.tableData = this.data;
    this.$nextTick(() => {
      let el = document.getElementById("table-container");
      if (el) this.container = el;

      let el2 = document.getElementById("table-header");
      if (el2) this.header = el2;

      this.isScroll = this.container.clientWidth < this.header.clientWidth;

      this.resizeHandler();
    });
  },
  computed: {
    ...mapGetters(["selectedData", "showEditForm", "showFilter", "filter"])
  },
  methods: {
    isShow(field) {
      return getShowPropByField(field);
    },
    isFilterApplyed(field) {
      return this.appliedFiler == field;
    },
    getSymbol(field) {
      if (this.isFilterApplyed(field)) {
        return this.filterDir + 1 ? `&#8595;` : "&#8593;";
      }

      return `&#8595;`;
    },
    getHeadValue(field) {
      return getNameByField(field);
    },
    getColumnStyle(field) {
      return getTableStyleByField(field);
    },
    forceUpdate() {
      this.$forceUpdate();
    },
    resizeHandler() {
      let filterH = document.getElementById("main-filter-container")
        .clientHeight;
      let headH = document.getElementById("header-container").clientHeight;
      let h = window.innerHeight - filterH - headH - 90 + "px";
      document.getElementById("table-container").style.height = h;

      let table = document.getElementById("table");

      let bool =
        document.getElementById("table-container").clientHeight <
        table.clientHeight;

      this.isScroll =
        this.container.clientWidth < this.header.clientWidth || bool;
    },
    openInEditForm(rowData, index) {
      this.selectedId = index;
      this.$store.dispatch("openEditForm", rowData);
    },
    applyFilter(field) {
      if (this.appliedFiler != field) {
        this.appliedFiler = field;
      } else {
        this.filterDir = -1 * this.filterDir;
      }

      switch (getDataTypeByField(field)) {
        case "number": {
          this.tableData.sort((a, b) => {
            return this.filterDir * (a[field] - b[field]);
          });
          break;
        }
        case "string": {
          this.tableData.sort((a, b) => {
            if (a[field] > b[field]) {
              return 1;
            }
            if (a[field] < b[field]) {
              return -1;
            }
            return 0;
          });
          if (this.filterDir < 0) {
            this.tableData.reverse();
          }
          break;
        }
        case "date": {
          this.tableData.sort((a, b) => {
            let dateA = Date.parse(
              a[field].replace(/(\d+)\-(\d+)\-(\d+)/, "$3-$2-$1")
            );
            let dateB = Date.parse(
              b[field].replace(/(\d+)\-(\d+)\-(\d+)/, "$3-$2-$1")
            );
            return dateA - dateB;
          });
          if (this.filterDir < 0) {
            this.tableData.reverse();
          }
          break;
        }
        default:
          break;
      }
    },
    addData() {
      this.$store.dispatch("openEditForm");
    },
    reverseStr(str) {
      let newStr = "";
      for (let i = str.length - 1; i >= 0; i--) {
        newStr += str.charAt(i);
      }
      return newStr;
    }
  },
  watch: {
    data: {
      handler: function(val) {
        this.tableData = val;
      },
      deep: true
    },
    /* filter: {
      handler: function(val) {
        if (this.showEditForm) {
          return;
        }

        this.tableData = [];
        let arr = [];
        for (let field in val) {
          if (val[field] == "") continue;
          arr.push(field);
        }

        for (let i in this.data) {
          let obj = this.data[i];

          var f = () => {
            for (let j in arr) {
              let field = arr[j];

              if (field == "time") {
                let selector = val[field][0];
                let dateFilter = new Date(val[field].substr(1));
                let dateTable = new Date(obj[field]);
                //console.log(selector, dateTable, dateFilter, selector == "<", dateTable < dateFilter);

                if (selector == "<") return dateTable < dateFilter;
                if (selector == ">") return dateTable > dateFilter;
                if (selector == "=") return dateFilter == dateTable;
              }

              if (obj[field] != val[field]) return false;
            }
            return true;
          };

          if (f()) this.tableData.push(obj);
        }
      },
      deep: true
    }, */
    showEditForm(val) {
      this.resizeHandler();
      if (!val) this.selectedId = undefined;
    },
    showFilter(val) {
      let animate = true;
      setTimeout(() => {
        animate = false;
      }, 400);

      let f = () => {
        setTimeout(() => {
          this.resizeHandler();
          if (animate) f();
        }, 15);
      };

      f();
    }
  },
  created() {
    window.addEventListener("resize", this.resizeHandler);
  },
  destroyed() {
    window.removeEventListener("resize", this.resizeHandler);
  }
};
</script>

<style>
#table-header {
  cursor: default;
}
#table-container {}
#table {
  position: relative;
  width: min-content;
  margin: 10px auto;
}
.head-el {
  padding: 15px 2px;
  display: flex;
}

.table-row {
  width: fit-content;
  display: flex;
  cursor: pointer;
}
.table-row.selected {
  background-color: rgba(0, 90, 179, 0.308);
}
.table-row:nth-child(odd) {
  background-color: rgba(64, 158, 255, 0.1);
}
.data-row:hover {
  transition: all 0.2s;
  background-color: rgba(0, 90, 179, 0.13);
}
.table-row:first-child {
  background-color: rgba(0, 90, 179, 0.25);
  border-bottom: 1px solid rgba(0, 89, 179, 0.55);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.table-row:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
  border-bottom: 1px solid rgba(0, 90, 179, 0.171);
}

.row-el {
  position: relative;
  padding: 3px 2px;
  word-wrap: break-word;
}
.row-el + .row-el {
  border-left: 1px solid rgba(0, 89, 179, 0.55);
}

.scroll {
  overflow: scroll;
}
.row-el-text {
  margin: auto;
}
.table-filter-buttom {
  cursor: pointer;
  position: relative;
  width: 8px;
  margin: auto;
  margin-right: 0;
  padding: 5px 2px;
  border-radius: 5px;
  border: 1px solid rgba(0, 89, 179, 0.55);
  transition: all 0.3s;
}
.table-filter-buttom.applied {
  background-color: rgba(0, 90, 179, 0.308);
}

#table-button-add {
  margin: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  width: fit-content;
  padding: 2px 6px;
}
</style>

