<template>
    <div id="table-editor-container">
        <div id="constructor-div" v-if="isConstructorOpen">
            <div id="constructor-data">
                <div id="constructor-head">
                    Таблица: <b>{{selectedTableName}}</b>
                </div>
                <div class="subhead" v-if="selectedIndex!==''">
                    Редактируемое значение: {{ selectedValue.value }}
                </div>
                <div class="subhead" v-else>
                    Добавление значения
                </div>

                <input class="constructor-input" type="text" v-model="inputValue" 
                placeholder="Введите новое значение">

                <div class="constructor-buttons">
                    <el-button size="mini" type="primary"
                        @click="applyChanges()">Применить
                    </el-button>
                    <el-button size="mini" type="danger" 
                        @click="abortChanges()">Отмена
                    </el-button>            
                </div>
            </div>
        </div>

        <div id="tables-menu-container">
            <div class="table-editor-menu-el" :class="{selected: (selectedTable==i)}"
            v-for="(val,i) in tablesList" :key="i" 
            @click="selectMenuItem(i)">
                {{val.value}}
            </div>
        </div>

        <div id="table-editor-hide-div">
            <div id="table-editor-div">
                <div id="table-editor-head">
                    Таблица: {{tablesList[selectedTable].value}}
                </div>
                <div id="table-editor-button-add" class="button" @click="addValue()">
                 + Добавить запись   
                </div>

                <div class="table-editor-row" 
                :class="{'bgclr-row': (i%2 != 0)}"
                v-for="(data,i) in getTableData(tablesList[selectedTable].name)" :key="i"
                @dblclick="editData(i)">
                {{data.value}}


                    <div class="editor-buttons">
                        <el-button size="mini" type="primary" icon="el-icon-edit" circle 
                            @click="editData(i)">
                        </el-button>
                        <el-button size="mini" type="danger" icon="el-icon-delete" circle 
                            @click="deleteData()">
                        </el-button>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import {
  getTablesNames,
  getTableDataByName,
  getTableByName
} from "@/common/response.temp";

export default {
  data() {
    return {
      tablesList: getTablesNames(),
      selectedTable: 0,

      inputValue: "",
      selectedIndex: "",
      isConstructorOpen: false,

      isScroll: false,
      container: "",
      header: ""
    };
  },
  mounted() {
    this.resizeHandler();
  },
  computed: {
    selectedTableName() {
      return this.tablesList[this.selectedTable].name;
    },
    selectedTableId() {
      return this.getTable(this.selectedTableName).id;
    },
    selectedValue() {
      return getTableDataByName(this.tables, this.selectedTableName)[
        this.selectedIndex
      ];
    },
    ...mapGetters(["tables"])
  },
  methods: {
    getTable(name) {
      return getTableByName(this.tables, name);
    },
    getTableData(name) {
      return getTableDataByName(this.tables, name);
    },
    applyChanges() {
      if (this.selectedIndex !== "") {
        this.$store.dispatch("updateNoteInSupportTable", {
          tableid: this.selectedTableId,
          valueid: 0,
          value: this.inputValue
        });
      } else {
        this.$store.dispatch("addNoteToSupportTable", {
          tableid: this.selectedTableId,
          value: this.inputValue
        });
      }

      this.inputValue = "";
      this.selectedIndex = "";
      this.isConstructorOpen = false;
    },
    abortChanges() {
      this.inputValue = "";
      this.selectedIndex = "";
      this.isConstructorOpen = false;
    },
    addValue() {
      this.isConstructorOpen = true;
    },
    editData(i) {
      this.selectedIndex = i;
      this.isConstructorOpen = true;
    },
    deleteData() {
      this.$store.dispatch("deleteNoteInSupportTable", {
        tableid: this.selectedTableId,
        valueid: 0
      });
    },
    selectMenuItem(i) {
      this.selectedTable = i;
    },
    resizeHandler() {
      let headH = document.getElementById("header-container").clientHeight;
      let h = window.innerHeight - headH - 58 + "px";
      document.getElementById("table-editor-container").style.height = h;

      let table = document.getElementById("table-editor-div");

      let bool =
        document.getElementById("table-editor-hide-div").clientHeight <
        table.clientHeight;

      this.isScroll =
        this.container.clientWidth < this.header.clientWidth || bool;
    }
  },
  created() {
    window.addEventListener("resize", this.resizeHandler);
  },
  destroyed() {
    window.removeEventListener("resize", this.resizeHandler);
  }
};
</script>
<style>
#table-editor-container {
  display: flex;
}
#constructor-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  z-index: 10;

  background-color: rgba(255, 255, 255, 0.671);
}
#constructor-data {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  padding: 30px 40px;
  background-color: rgba(238, 244, 253);
  border-radius: 10px;
  border: 1px solid rgb(64, 158, 255);
  box-shadow: 0 0 7px rgb(43, 43, 43);
}
#constructor-head {
  font-size: 20px;
  width: 100%;
  margin-bottom: 4px;
}
.subhead {
  width: 100%;
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
}
.constructor-input {
  border-radius: 5px;
  border: 1px solid rgb(64, 158, 255);
  margin-bottom: 15px;
  font-size: 20px;
  padding: 5px 10px;
}
.constructor-buttons {
  margin: auto;
  width: fit-content;
}

#tables-menu-container {
  width: 20%;
  position: absolute;
  width: 20%;
  top: 50%;
  transform: translateY(-60%);
}
#table-editor-hide-div {
  width: 80%;
  margin-left: 20%;
}
#table-editor-head {
  margin-top: 10px;
  font-size: 24px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 89, 179, 0.55);
}
#table-editor-button-add {
  /* margin: auto; */
  margin-top: 3px;
  margin-bottom: 3px;
  width: fit-content;
  padding: 2px 6px;
}
#table-editor-div {
}
.table-editor-row {
  cursor: pointer;
  position: relative;
  font-size: 20px;
  padding: 8px 0;
}
.table-editor-row + .table-editor-row {
  /* border-left: 1px solid rgba(0, 89, 179, 0.55); */
}
.table-editor-menu-el {
  cursor: pointer;
  font-size: 18px;
  padding: 10px 0;
  background: linear-gradient(left, rgb(255, 255, 255));
  transition: all 0.5s;
}
.table-editor-menu-el:hover {
  background: rgba(204, 229, 255, 0.295);
}
.table-editor-menu-el.selected {
  background: linear-gradient(left, rgb(204, 229, 255), transparent);
  border-left: 2px solid rgb(64, 158, 255);
}
.editor-buttons {
  position: absolute;
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
</style>
