<template>
  <div id="app">
      <Header></Header>

      <router-view></router-view>
      
      <div class="top-container">
        <EditForm></EditForm>
      </div>

      <Loginform v-if="showLoginForm"/>
  </div>
</template>

<script>
import Header from "./components/header";
import HomeView from "./views/HomeView";
import EditForm from "@/components/editForm";
import Loginform from "@/components/loginform";
import { mapGetters } from "vuex";

export default {
  name: "app",
  components: {
    Header,
    HomeView,
    EditForm,
    Loginform
  },
  data() {
    return {
    };
  },
  methods: {
  },
  computed: {
    ...mapGetters(['showLoginForm'])
  }
};
</script>


<style>
body {
  background-color: rgb(221, 230, 243);
  margin: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #003d79;
  
}
.bgclr-row-head {
  background-color: rgba(64, 158, 255, 0.3);
}

.bgclr-row {
  background-color: rgba(64, 158, 255, 0.1);
}
.button {
  cursor: pointer;
  color: white;
  background-color: rgb(64, 158, 255);
  border: 1px solid rgb(53, 129, 206);
  border-radius: 4px;
  transition: all 0.3s;
}
.button+.button {
  margin-top: 14px;
}
.button:hover {
  box-shadow: 0 0 6px 0px #6d6d6db7;
}

.el-input__suffix {
    right: 0px !important;
}
.el-select {
    width: 100%;
}

</style>
